body{
    background-color: gray;
    font-family: "Belanosima";
    margin: auto;
    user-select: none;
    
    
}
head{
    background-color: azure;
}
#tit{
    box-shadow: 0 0 50px black inset;
    position: relative;
    border: black;
    width: 100%;
    height: 100%;
    position: relative;
    
}

h1{
    top: 30%;
    color: fuchsia;
    font-size: 45px;
    position: relative;
    
}
#menu{

  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
  background-color: rgb(232, 43, 239);
  color: salmon;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  box-shadow: 0 0px 5px black inset;
  margin: auto;
}
.menuop{
    text-align: center;;
    font-size: 22px;
    background-color: transparent;
    font-weight: semibold;
    border: red;
    border-radius: .5rem;
    text-shadow: 0 0 1px black;
    margin: auto;
    cursor: pointer;
    transition: all 1s ease;
    box-shadow: .5rem .5rem 1rem rgb(225, 50, 248);
    box-shadow: -.5rem -.5rem 1rem rgb(209, 46, 209);



}
.menuop:hover{
    background-color: rgb(244, 84, 246);
    transform: scale(1.1);
    transition: transform 300ms;
    box-shadow: .5rem .5rem 1rem rgb(205, 48, 197);
    box-shadow: -.5rem -.5rem 1rem rgb(245, 59, 245);
}
header{
    border: 3px solid black;
    position: relative ;
    color: black;
}
#logo{
    height: 150px;
    display: flex;
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
    top: 25px;
}

img{
    max-width: 100%;
    vertical-align: top;
}

#linea1{
    display: flex;
    align-items: center;
    background-color: blueviolet;
    box-shadow: 0 0 80px black inset;
   
}
#credito{
    color: fuchsia;
    font-size: 1.5em;
}

#simbolo {
    font-size: 2.5em;
    color: fuchsia;
}
#dinero{
    font-size: 4em;
    line-height: 70px;
    color: fuchsia;
}
#tirar{
    width: 180px;
    height: 180px;
    background-color: fuchsia;
    border-radius: 50%;
    border: 6px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5em;
    box-shadow: 0 0 13px black inset;
    user-select: none;
    -moz-user-select: none;
    cursor: pointer;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 84%;

}    
#tirar:hover{
    box-shadow: 0 0 13px crimson inset;
}



#ventanas{
   display: flex;
   background-color: blueviolet;
   justify-content: space-around;
   position: relative;
   box-shadow: 0 0 180px black inset;
   width: 550px;
   left: 0;
   right: 0;
   margin: auto;
   
    
}
    
.ventana{
    width: 180px;
}
.imagen{
    border: 4px solid black;
    border-radius: 10px;
    box-shadow: 0 0 150px black inset;
    padding: 10px   ;
}

#velo{
    position: fixed;
    background-color:rgba(255, 255, 255, 0.6);
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
}
#cruz{
    width: 30px;
    top: 5px;
    right: 5px;
    position: absolute;
    cursor: pointer;
}
#cuadro_mensaje{
    border: 5px solid crimson;
    width: 500px;
    border-radius: 12px;
    position: relative;
    height: 100px;
}
#mensaje{
    font-size: 1.6em;
    text-align: center;
}

#games{
    border: 4px solid black;
    border-radius: 10px;
    box-shadow: 0 0 150px black inset;
    padding: 10px   ;
    width: 180px;
    cursor: pointer;
    display: flex;
}

#games:hover{
    transform: scale(1.1);
    transition: transform 300ms;
    position: relative;
}
.titl_games{
    color: blueviolet;
    text-align: center;
    font-size: 25px;
}
    

#bestgames{
    display: flex;
   
}



#dinopepino{
    width: 300px;
    height: 180px;
}

#angrybirds{
    width: 300px;
    height: 180px;

}